{% extends 'layout.html' %}
{% block content%}
{% load static %}
{% include 'navs.html' %}

	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-windows"></i>
									</div>
									<div class="breadcomb-ctn">
										<h5>Add your category</h5>
										<p>Dont forget to  slect class of your category..!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Breadcomb area End-->


    
    <div class="container">
            {% include 'partials/_alerts.html' %}
        <div class="row" id="consumable">
            <form action="addcategory" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-element-list">
                            <div class="cmp-tb-hd bcs-hd">
                                <h2>Create Category</h2>
                            </div>
                            <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-element-list mg-t-30">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <div class="form-group ic-cmp-int">
                                                                <div class="form-ic-cmp">
                                                                    <i class="glyphicon glyphicon-font"></i>
                                                                </div>
                                                                <div class="nk-int-st">
                                                                    <input type="text" name="coname" class="form-control" placeholder="Category Name" required>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <div class="bootstrap-select fm-cmp-mg">
                                                        <select name="cocategory" class="selectpicker" data-live-search="true" title="Category class" required>
                                                                <option value="consumable" >Consumable</option>
                                                                <option value="nonconsumable" >Non-Consumable</option>
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <div class="bootstrap-select fm-cmp-mg">
                                                        <select name="costatus" class="selectpicker" title="Status " required>
                                                                <optgroup label="Picnic">
                                                                    <option value="True" >Active</option>
                                                                    <option value="False" >In-Active</option>
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <div class="form-group ic-cmp-int">
                                                        <div class="form-ic-cmp">
                                                            <i class="notika-icon notika-mail"></i>
                                                        </div>
                                                        <div class="nk-int-st">
                                                            <textarea type="text" name="codescrp" class="form-control" placeholder="Descriptions"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-1">
                                    <button type="reset" class="btn btn-primary"> <i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                                <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>  Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>



                </div>
    {% endblock %}