{% extends 'layout.html' %}
{% block content%}
{% load static %}
{% include 'navs.html' %}
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2> List of authorized users</h2>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Card ID</th>
                                    <th>User Name</th>
                                    <th>Room Name Authorized</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for list in autho %}
                                <tr>
                                    <td>{{list.cid}}</td>
                                    <td>{{list.username}}</td>
                                    <td>{{list.access_id_id__door_name}}</td>

                                    <td>
                                        
                                        <button class="btn btn-notika btn-xs btn-danger"> <i class="fa fa-trash"></i>
                                            Delete</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Card ID</th>
                                    <th>User Name</th>
                                    <th>Room Name Authorized</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->




{% endblock %}