{% extends 'layout.html' %}
{% block content%}
{% load static %}
{% include 'navs.html' %}

 <!-- Add non consu,able items here -->
 <div class="container">
 <div class="row" id="nonconsumable">
        <form action="/borrowasset" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="cmp-tb-hd bcs-hd">
                        <h2>Please fill all details</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" name="lender" class="form-control" placeholder="Borrower Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" name="stafid" class="form-control" placeholder="Staff ID" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-mail"></i>
                                </div>
                                <div class="nk-int-st">
                                    <textarea type="text" name="nocdescp" class="form-control" placeholder="Put Descriptions" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="glyphicon glyphicon-font"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input readonly value="{{item_name}}" type="text" name="nocname" class="form-control" placeholder="Item Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-qrcode"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input readonly value="{{item_iid}}" type="text" name="nocid" class="form-control" placeholder="Ited ID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-location-arrow"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input type="text" name="wherego" class="form-control" placeholder="Where it goes...?" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-1">
                            <button type="reset" class="btn btn-primary"> <i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary"><i class="fa  fa-ticket"></i>  Process Voucher</button>
                            </div>
                    </div>
                </div>
            </form>
            </div>
            </div>
            {% endblock %}