
    {% extends 'layout.html' %}
    {% block content%}
    {% load static %}
    {% include 'navs.html' %}
    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
                {% include 'partials/_alerts.html' %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Consumable Items List</h2>
                           </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item Name</th>
                                        <th>Item Category</th>
                                        <th>Location</th>
                                        <th>Quantity</th>
                                        <th>Last update</th>
                                        {% if request.user.is_superuser %}
                                        <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aset in assets%}
                                    <tr>
                                        <td>{{aset.id}}</td>
                                        <td>{{aset.coname}}</td>
                                        <td>{{aset.cocategory}}</td>
                                        <td>{{aset.colocation}}</td>
                                        <td>{{aset.coqunty}}</td>
                                        <td>{{aset.updated_on}}</td>
                                        {% if request.user.is_superuser %}
                                        <td>
                                            <a href="/editasset/{{aset.id}}/"><button class="btn btn-notika btn-xs btn-info"> <i class="fa fa-pencil-square-o"></i> Edit</button></a>
                                            <a href="/deleteasset/{{aset.id}}/"><button onclick="deleteRecord('{{aset.coname}}','/deleteasset/{{aset.id}}')" class="btn btn-notika btn-xs btn-danger"> <i class="fa fa-trash"></i> Delete</button></a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item Name</th>
                                        <th>Item Category</th>
                                        <th>Location</th>
                                        <th>Quantity</th>
                                        <th>Added date</th>
                                        {% if request.user.is_superuser %}
                                        <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->
    {% endblock %}