{% extends 'layout.html' %}
{% block content%}
{% load static %}
{% include 'navs.html' %}
<!-- Data Table area Start-->
<div id="notificationtables-div">
    <div class="data-table-area">
        <div class="container">
            {% include 'partials/_alerts.html' %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Asset Notifications</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item Name</th>
                                        <th>Item Code</th>
                                        <th>Default Location</th>
                                        <th>Current Loc</th>
                                        <th>Read At</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for note in asets%}
                                    <tr>
                                        <td>{{note.id}}</td>
                                        <td>{{note.asset_id__nocname}}</td>
                                        <td>{{note.asset_id__nocid}}</td>
                                        <td>{{note.default_loc}}</td>
                                        <td>{{note.current_loc}}</td>
                                        <td>{{note.read_at}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item Name</th>
                                        <th>Item Code</th>
                                        <th>Default Location</th>
                                        <th>Current Location</th>
                                        <th>Read At</th>
                                        
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->
<script type="text/javascript">
    /*$(document).ready(function() {
        $('#data-table-basic').DataTable();
    } );*/

    var ajax_call = function () {
        var $note = $('#note');
        $.ajax({
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            url: 'notification_async',
            /*data:{
                'card_id': card_id,
                'userFullName': userFullName,
                'access_door_id_id__door_name': access_door_id_id__door_name,
                'access_status': access_status,
                'door_description': door_description,
                'attempt_on': attempt_on,
            },*/
            success: function (data) {
                //$trials.html(data);
                //console.log(data);
                document.getElementById('notificationtables-div').innerHTML = data
                //document.body = data
                //console.log(document)
                //console.log(data)


            },
            error: function () {
                alert('error');
            }
        });



    }
    var interval = 5000; // 5 secs
    setInterval(ajax_call, interval);
</script>

{% endblock %}