
{% load static %}

    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Dashboard</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a href="ownerpage">Home</a></li>
                                        </li>
                                        <li data-toggle="modal" data-target="#myModalfour" style="cursor:pointer"><a href="#"> Request Asset</a></li>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="changepassowrd"><i class="notika-icon notika-edit"></i> Change Password</a></li>
                                                        
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/"><i class="notika-icon notika-next"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->


















    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a data-toggle="tab" href="#Home"><i class="fa fa-tachometer"></i> Dashboard</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="ownerpage"><i class="glyphicon glyphicon-home"></i> Home</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModalfour" style="cursor:pointer"><i class="glyphicon glyphicon-tags"></i> Request Asset</a></li>
                                  
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="changepassowrd"><i class="notika-icon notika-edit"></i> Change Password</a></li>
                                                        
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="notika-icon notika-next"></i> Logout</a></li>
                                  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->