{% extends 'secretaryy/layout.html' %}
{% block content%}
{% load static %}
{% include 'secretaryy/navs.html' %}
   


     <!-- Start Status area -->
     <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <a href="dayvefication">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h3>Research</h3>
                                <h2><span class="counter">50</span> Assets</h2>
                            </div>
                            <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h3>Innovation</h3>
                                <h2><span class="counter">50</span> Assets</h2>
                            </div>
                            <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h3>Project</h3>
                                <h2><span class="counter">50</span> Assets</h2>
                            </div>
                            <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                        </div>
                    </div>
                </a>
            </div><hr>
        </div>
    </div>
    <!-- End Status area-->

    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <a href="">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                            <h3>MRT</h3>
                            <h2><span class="counter">23</span> Assets</h2>
                            </div>
                            <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h3>Secretary</h3>
                                <h2><span class="counter">50</span> Assets</h2>
                            </div>
                            <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h3>Conference</h3>
                                <h2><span class="counter">50</span> Assets</h2>
                            </div>
                            <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Status area-->
{% endblock %}